.logincard{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
}

#searchInput::placeholder{
    font-weight: 500;
    color: black;
}

#searchInput::-webkit-input-placeholder {
    font-weight: 500;
    color: black;
}

#searchInput:-ms-input-placeholder { 
    font-weight: 500;
    color: black;
}

@media (max-width:640px) {
    #searchInput::placeholder{
        font-size: 0.75rem;
    }
    
    #searchInput::-webkit-input-placeholder {
        font-size: 0.75rem;
    }
    
    #searchInput:-ms-input-placeholder { 
        font-size: 0.75rem;
    }
}